:root {
  --clr-primary-darkCyan: hsl(158, 36%, 37%);
  --clr-primary-Cream: hsl(30, 38%, 92%);
  --clr-neutral-VdarkBlue: hsl(212, 21%, 14%);
  --clr-neutral-DgrayishBlue: hsl(228, 12%, 48%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --fw-500: 500;
  --fw-700: 700;

  --ff-Fraunces: "Fraunces", serif;
  --ff-Montserrat: "Montserrat", sans-serif;

  --fs-paragraph: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--ff-Montserrat);
  background-color: var(--clr-primary-Cream);
}

.main {
  margin: 1rem;
}

.hero {
  margin: 0;
  font-size: 0;
}

.hero img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-white);
  border-radius: 0 0 1rem 1rem;
}

.card--content h5 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--clr-neutral-DgrayishBlue);
  font-weight: var(--fw-500);
  margin: 0.75rem 0 0.75rem 0;
}

.card--price {
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.price--hero {
  margin-right: 1rem;
  font-family: var(--ff-Fraunces);
  color: var(--clr-primary-darkCyan);
}

.price--before {
  text-decoration: line-through;
  color: var(--clr-neutral-DgrayishBlue);
}

.card button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-700);
  color: var(--clr-neutral-white);
  background-color: var(--clr-primary-darkCyan);
  border: none;
  border-radius: 10px;
}

.card button img {
  margin-right: 0.5rem;
}

.content--details {
  margin: 0.3rem;
}

.content--details h1 {
  font-family: var(--ff-Fraunces);
  margin-bottom: 1rem;
}

.content--details p {
  line-height: 1.75rem;
  font-size: var(--fs-paragraph);
}
