* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-primary-darkCyan: hsl(158, 36%, 37%);
  --clr-primary-darkCyan-hover: hsl(158, 36%, 20%);
  --clr-primary-Cream: hsl(30, 38%, 92%);
  --clr-neutral-VdarkBlue: hsl(212, 21%, 14%);
  --clr-neutral-DgrayishBlue: hsl(228, 12%, 48%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --fw-500: 500;
  --fw-700: 700;

  --ff-Fraunces: 'Fraunces', serif;
  --ff-Montserrat: 'Montserrat', sans-serif;

  --fs-paragraph: 14px;

  --base-font-size: 16px;
  --h1-multiplier: 2;
  --h2-multiplier: 1.5;
  --h3-multiplier: 1.2;
  --h4-multiplier: 1.1;
}

h1 {
  font-size: calc(var(--base-font-size) * var(--h1-multiplier));
}

h2 {
  font-size: calc(var(--base-font-size) * var(--h2-multiplier));
}

h3 {
  font-size: calc(var(--base-font-size) * var(--h3-multiplier));
}

h4 {
  font-size: calc(var(--base-font-size) * var(--h4-multiplier));
}

body {
  background-color: var(--clr-primary-Cream);
  font-family: var(--ff-Montserrat);
}

/* ----- MAIN ----- */
main {
  max-width: 800px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: -0.3rem;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--clr-neutral-white);
}

#main-img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

/* .card--image img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
} */

#content-type {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: var(--fs-paragraph);
  color: var(--clr-neutral-DgrayishBlue);
  margin-bottom: 1rem;
}

#content-title {
  font-family: var(--ff-Fraunces);
  margin-bottom: 1rem;
}

#content-paragraph {
  line-height: 1.5rem;
  font-size: var(--fs-paragraph);
  color: var(--clr-neutral-DgrayishBlue);
  margin-bottom: 1rem;
}

.card-price {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card-price h1 {
  margin-right: 1rem;
  font-family: var(--ff-Fraunces);
  color: var(--clr-primary-darkCyan);
}

.card-price h4 {
  text-decoration: line-through;
  color: var(--clr-neutral-DgrayishBlue);
  font-weight: var(--fw-500);
}

button {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--clr-primary-darkCyan);
  border: none;
  border-radius: 10px;
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-700);
  color: var(--clr-neutral-white);
}

/* ----- FOOTER ----- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ----- MEDIA QUERIES ----- */

/** 800px */
@media screen and (min-width: 800px) {
  main {
    flex-direction: row;
  }

  #main-img {
    border-radius: 1rem 0 0 1rem;
  }

  .card {
    margin: 0;
    border-radius: 0 1rem 1rem 0;
  }
}
